.DS_Store
/build/
*.egg-info/
/dist/
.idea/*
# Ignore pypi creds file
.pypirc
*.pyc
*.pyo
__pycache__/
/extract_msg.egg-info/
/example-msg-files/expected-outputs/
/example-msg-files/*.msg
!/example-msg-files/expected-outputs/2013-11-18_0026 Test for TIF files/
!/example-msg-files/expected-outputs/2016-02-23_0657 MSG Test File/
!/example-msg-files/strangeDate.msg
!/example-msg-files/unicode.msg
/output
/raw

